body {
	margin: 0;
}

.phone {
	font-family: 'Noto Sans', sans-serif;
}

.app {
	width: 265px;
	height: 490px;
	margin: 0 auto;
	padding-top: 12px;
}

.content {
	padding: 10px;
	padding-top: 0px;
	position: relative;
}

.header {
	background-color: #fff;
	width:100%;
	height:40px;
	text-align: center;
	margin-bottom: 10px;
}

.header img {
	width:70px;
}

div.photo {
	background-color: #fff;
	position:absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:265px;
	height:315px;
	border:1px solid #a6a9aa;
	border-radius: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 7px 0px #cfcfcf;
	overflow: hidden;
}

div.photo:first-child {
	z-index: 3;
}

span.meta {
	display: block;
	height:48px;
	background-color: #FFF;
	margin-top: 267px;
	border-radius: 0px 0px 8px 8px;
	font-size: 18px;
	box-sizing:border-box;
	padding: 12px;
}

span.meta span {
	float: right;
	color:#cfcfcf;
}

.users {
	display: block;
	width: 20px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/users.png);
	background-size: 20px;
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position: 5px;
}

.moments {
	display: block;
	width: 14px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/moments.png);
	background-size: 26px;
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: 5px;
}


.footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 318px;
	padding-left: 40px;
	padding-top: 6px;
}

.rate {
	width: 70px;
	height:70px;
	border-radius: 70px;
	background: #FFF;
	border: 5px solid #f0f0f0;
	float: left;
	box-shadow: 1px 1px 1px 0px #e9e9e9;
}

.rate:nth-child(1) {
	margin-left: 4px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/delete.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
}


.rate:nth-child(2) {
	margin-left: 38px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/heart.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
}


p {
	padding:0;
	margin:0;
	float: left;
}

.photo {
	left: 0;
}

.photo.trusted {
	transition: left .3s ease-in-out, transform .3s ease-in-out;
	transform: rotate(40deg);
	left: 450px;
}

.photo.untrusted {
	transition: left .3s ease-in-out, transform .3s ease-in-out;
	transform: rotate(-40deg);
	left: -450px;
}
